<div class="container-fluid user-form">
  <div class="container">
    <form name="userForm" class="form-horizontal" ng-hide="thankYouPage.flag" ng-submit="userForm.$valid && submitForm(user)" novalidate>

      <!-- Name -->
      <div class="form-group">
        <label for="name" class="col-xs-12 col-sm-2 control-label">Name</label>
        <div class="col-xs-12 col-sm-9">
          <input id="name" name="name" type="text" placeholder="Name" ng-class="{
            'form-control': true,
            'error': userForm.name.$invalid && userForm.name.$dirty
          }" ng-model="user.name.first" required>
          <i ng-class="{
              'fa': true,
              'fa-check': userForm.name.$valid,
              'fa-times': userForm.name.$invalid && userForm.name.$dirty
          }" aria-hidden="true"></i>
        </div>
      </div>

      <!-- Surname -->
      <div class="form-group">
        <label for="surname" class="col-xs-12 col-sm-2 control-label">Surname</label>
        <div class="col-xs-12 col-sm-9">
          <input id="surname" name="surname" type="text" placeholder="Surname" ng-class="{
            'form-control': true,
            'error': userForm.surname.$invalid && userForm.surname.$dirty
          }" ng-model="user.name.second" required>
          <i ng-class="{
              'fa': true,
              'fa-check': userForm.surname.$valid,
              'fa-times': userForm.surname.$invalid && userForm.surname.$dirty
          }" aria-hidden="true"></i>
        </div>
      </div>

      <!-- Gender -->
      <div class="form-group">
        <label for="gender" class="col-xs-12 col-sm-2 control-label">Gender</label>
        <div id="gender" class="col-xs-12 col-sm-9">
          <label class="radio-inline">
            <input type="radio" name="gender" value="male" ng-model="user.gender">Male
          </label>
          <label class="radio-inline">
            <input type="radio" name="gender" value="famale" ng-model="user.gender">Female
          </label>
        </div>
      </div>

      <!-- Email -->
      <div class="form-group">
        <label for="email" class="col-xs-12 col-sm-2 control-label">Email</label>
        <div class="col-xs-12 col-sm-9">
          <input id="email" name="email" type="email" placeholder="Email" ng-class="{
            'form-control': true,
            'error': userForm.email.$invalid && userForm.email.$dirty
          }" ng-model="user.email" required>
          <i ng-class="{
              'fa': true,
              'fa-check': userForm.email.$valid,
              'fa-times': userForm.email.$invalid && userForm.email.$dirty
          }" aria-hidden="true"></i>
        </div>
      </div>

      <!-- Phone -->
      <div class="form-group">
        <label for="phoneNumber" class="col-xs-12 col-sm-2 control-label">Phone</label>
        <div id="phoneNumber" class="col-xs-12 col-sm-9">
          <input id="phoneNumber" name="phoneNumber" type="number" placeholder="Phone" ng-class="{
            'form-control': true,
            'error': userForm.phoneNumber.$invalid && userForm.phoneNumber.$dirty
          }" ng-model="user.phone" required>
          <i ng-class="{
            'fa': true,
            'fa-check': userForm.phoneNumber.$valid,
            'fa-times': userForm.phoneNumber.$invalid && userForm.phoneNumber.$dirty
          }" aria-hidden="true"></i>
        </div>
      </div>

      <!-- Address -->
      <div class="row">
        <label for="address" class="col-xs-12 text-center">Address</label>
      </div>
      <div id="address" class="form-group">

        <!-- Number -->
        <label for="addressNumber" class="col-xs-12 col-sm-2 control-label">Number</label>
        <div class="col-xs-12 col-sm-3">
          <input id="addressNumber" name="addressNumber" type="number" placeholder="Number" ng-class="{
                'form-control': true,
                'error': userForm.addressNumber.$invalid && userForm.addressNumber.$dirty
              }" ng-model="user.address[0].number" required>
          <i ng-class="{
                'fa': true,
                'fa-check': userForm.addressNumber.$valid,
                'fa-times': userForm.addressNumber.$invalid && userForm.addressNumber.$dirty
              }" aria-hidden="true"></i>
        </div>

        <!-- Street -->
        <label for="street" class="col-xs-12 col-sm-1 control-label">Street</label>
        <div class="col-xs-12 col-sm-5">
          <input id="street" name="street" type="text" placeholder="Street" ng-class="{
                'form-control': true,
                'error': userForm.street.$invalid && userForm.street.$dirty
              }" ng-model="user.address[0].street" required>
          <i ng-class="{
                'fa': true,
                'fa-check': userForm.street.$valid,
                'fa-times': userForm.street.$invalid && userForm.street.$dirty
              }" aria-hidden="true"></i>
        </div>

      </div>
      <div class="form-group">

        <!-- City -->
        <label for="city" class="col-xs-12 col-sm-2 control-label">City</label>
        <div class="col-xs-12 col-sm-3">
          <input id="city" name="city" type="text" placeholder="City" ng-class="{
                'form-control': true,
                'error': userForm.city.$invalid && userForm.city.$dirty
              }" ng-model="user.address[0].city" required>
          <i ng-class="{
                'fa': true,
                'fa-check': userForm.city.$valid,
                'fa-times': userForm.city.$invalid && userForm.city.$dirty
              }" aria-hidden="true"></i>
        </div>

        <!-- Zip code -->
        <label for="zipcode" class="col-xs-12 col-sm-1 control-label">Zip</label>
        <div class="col-xs-12 col-sm-5">
          <input id="zipcode" name="zipcode" type="text" placeholder="Zip Code" maxlength="6" ng-class="{
                'form-control': true,
                'error': userForm.zipcode.$invalid && userForm.zipcode.$dirty
              }" ng-model="user.address[0].zipcode" zipcode required>
          <i ng-class="{
                'fa': true,
                'fa-check': userForm.zipcode.$valid,
                'fa-times': userForm.zipcode.$invalid && userForm.zipcode.$dirty
              }" aria-hidden="true"></i>
        </div>

      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <input class="btn btn-default center-block" type="submit" value="Subscribe" ng-disabled="userForm.$invalid">
        </div>
      </div>

    </form>

    <!-- thank you page -->
    <div id="thanks" ng-show="thankYouPage.flag" class="row">
      <div class="col-xs-12 text-center">
        <p>Thank you</p>
      </div>
    </div>

  </div>
</div>

